<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form class="form-inline" action="./task" method = "POST">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Tarefa</label>
    <input class="form-control p-4" name="task" placeholder="Insira uma Tarefa">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Enviar Tarefa</button>
</form>
